#title {
    background: #EAE1D7;
    text-align: center;
    margin-bottom: 20px;
  }
  
  #content img {
    max-width: 100%;
    height: auto;
  }
  
  #footer {
    margin-top: 20px;
    text-align: center;
  }
  
  .row {
    margin-bottom: 20px;
  }

#search-form {

  align-items: center; 
  justify-content: center; 
  gap: 10px; 
}


#genre-select {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 200px;
}


#search-form input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100px;
}


#search-form button {
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  background-color: #333;
  color: white;
  cursor: pointer;
  width: 100px;
}

#search-form button:hover {
  background-color: #555; 
}


.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}


#search-results {
  margin-top: 20px;
}

.song-item {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

  