@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Rubik+Scribble&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Fondamento:ital@0;1&family=Rubik+Scribble&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Galada&display=swap');

h1{
	color: #747953;
	font-family: "Rubik Scribble", system-ui;
	
}

h2{
	color:#646E78;
	font-family: "Galada", cursive;
	font-size: 3em;
}

h3{
	color: #415562;
	font-family: "Edu NSW ACT Foundation", cursive;
}



